/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #640000;
    border-radius: 5px;
  }
  /* start */
  body {
    padding: 5px;
  }
  .center {
    display: flex;
  }
  .wrapper {
    border-radius: 15px;
    padding: 25px;
    min-height: 700px;
    background-color: rgb(0, 0, 0);
  }
  .header {
    min-height: 100px;
    width: 100%;
    margin-bottom: 15px;
  }
  .mainContent {
    width: 69%;
    min-width: 450px;
    min-height: 500px;
    margin-left: 2%;
    margin-bottom: 15px;
    overflow: hidden;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 100%;
    height: 435px;
  }
  .btn-bg {
    height: 100px;
    width: 100%;
    background-position: center center;
    border-radius: 7px;
    /* background-size: cover; */
    /* overflow: hidden; */
  }
  .footer {
    position: relative;
    bottom: 0;
    min-height: 20px;
    min-width: 91%;
    clear: both;
    background-color: #000000;
    margin-top: 15px;
  }
  .footer > p {
    text-align: center;
    color: white;
  }
  .article {
    display: flex;
    padding: 3%;
    border: 2px groove #ffd700;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
  }
  .header > img {
    width: 100%;
    border-radius: 10px;
  }
  .article > img {
    width: 40%;
  }
  .article p,
  h2 {
    color: white;
  }

  @media screen and (max-width: 870px) {
    body {
      padding: 2px;
    }
    .center {
      flex-direction: column;
    }
    .sidebar {
      height: 50px;
      width: 100%;
      margin-bottom: 1%;
      flex-direction: row;
      justify-content: space-between;
    }

    .header {
      margin-bottom: 1px;
    }

    .wrapper {
      border-radius: 5px;
      padding: 15px;
    }

    .mainContent {
      min-width: 100%;
      margin-left: 0;
      margin-bottom: 1px;
    }

    .btn-bg {
      height: 100%;
      width: 23%;
      background-position: center center;
      border-radius: 7px;
      /* background-size: cover; */
      /* overflow: hidden; */
    }
  }
  @media screen and (max-width: 620px) {
    ::-webkit-scrollbar {
      width: 7px;
    }
    .article > img {
      min-width: 60%;
    }
    .article {
      flex-direction: column;
    }
    .footer p {
      font-size: 13px;
    }
  }